* { 
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

body {
  font-family: Georgia, serif;
  font-size: 1.2em;
  background-color: #040000;
}

div#content {
  width: 800px;
  margin: auto;
  padding: 2em;
  color: white;
  line-height: 1.4em;
}

div#logo {
  float: right;
}

p {
  margin: 0.7em 0;
}

li {
  margin: 0.2em 0 0.2em 1em;
}

ul {
  list-style-type: circle;
  margin-left: 1em;
}

ol {
  list-style-type: decimal;
  margin-left: 1em;
}

h1, h2, h3, h4 {
  margin: 1.3em 0 -0.3em;
}



pre {
  font-size: 0.9em;
}

a { 
  color: #a9c6e8;
  text-decoration: none;
}

/*
body {
  background-image: url(/images/flapjack.png);
  background-repeat: no-repeat;
  background-position: top right;
}
*/

div#friends ul {
  margin-top: 1em;
}

blockquote.commands pre {
  background-color: #fffeff;
  color: #040000;
  padding: 0.8em;
}

/* code { font-size: 90%; } */

div#running li {
  margin: 1.5em 0.5em;
  list-style-type: square;
  padding-left: 0.33em;
}

img.architecture {
  margin: auto;
  display: block;
  margin-bottom: -1em;
}

div#what {
  padding-top: 1em;
}
